.canvasPlayParent{
    position: relative;
}



.createCanvas{
    position: absolute;
    border: 2px solid rgb(40, 47, 40);
    border-radius: 3px;
    box-shadow: 0 0px 20px rgb(55, 62, 55);
    left:50%;
    top:8%;
}

#saveCreate{ 
}

#loopCreate{
}
  
#playCreate{
}

#stopCreate{
}
  
#volumeCreate{
  }

#volumeImg{ 
}
#tempoCreate{
  }
#metronome{
    
}
#addCreate{
}
#removeCreate{
}