 
.canvasPlay-modal-content {
  position: fixed;
  z-index: 1;
  /* left: 5%; */
  top: 20%;
    background-color: rgb(35, 37, 35);
    margin: auto;
    padding: 15px 25px 25px;
    border: 2px solid rgb(40, 47, 40);
    border-radius: 3px;
    box-shadow: 0 0px 20px rgb(55, 62, 55);
    width: 1225px;
    height: 570px;
    color: rgb(207, 206, 206);
  }

.canvasModalView{
  position: relative;
  margin: auto;
  width: 1200px;
  height: 400px; 
}
.rcorners2 {
  border-radius: 5px;
  border: 3px solid #505050;
  width: 1200px;
  height: 400px; 
  margin-bottom: 10px;
}

#closeCanvasButton{
  position: relative;
  left: 98%;
}

.canvasModalButtons{
  position: relative;
  z-index: 10;
  margin: 10px;
  margin-bottom: 0px;
  height: 80px;
  top: 5%;
}

#loop{
  position: relative;
  left: 40%;
}

#play{
  position: relative;
  left: 46%;
}
#stop{
  position: relative;
  left: 52%;
}

#volume{
  position: relative;
  left: 34%;
  top: 40%;
}

#volumeImg{
  position: relative;
  left: 33%;
  top: 50%;
}

